# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List libraries common in Data Science
- Do basic arithmetic
- Format markdown cells

Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. Julia

Some of the most commonly used libraries used by Data Scientists include:
1. NumPy in python
2. Matplotlib in python
3. SciPy in python

| Data Science Tools |
|--------|
| Git |
| Jupyter |
| Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [13]:
#This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [15]:
#This will convert 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335

## Author

Micah Keown